### This is the content of your .gitignore file
### -------------------------------------------

# Ignore All (xlsx) files
*.xlsx
!nuevas_data.xlsx

*.json

promodescuentos-nuevas-39981.csv

*.DS_Store


*.env
