### This is the content of your .gitignore file
### -------------------------------------------

# Ignore All (xlsx) files
*.xlsx
!nuevas_data.xlsx

*.json

*.DS_Store

*.csv
!nuevas_urls.csv
!nuevas_data.csv
!promodescuentos-nuevas-sixmonths.csv
*.env
